
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #f9eeee;
    background-color: #121212;
}
html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto; /* Ensures vertical scrolling is enabled */
  }

  .container {
    min-height: 100vh; /* Ensures the container takes up full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .title {
    margin-top: 5rem;
    text-align: center;
  }
  .title h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  .about-us {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

  }
  .about-us p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #e7dcdc;
    margin-bottom: 1.5rem;
  }
  .about-us h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #f4f4f4;
  }
  .about-us ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .about-us ul li {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 0.8rem;
    position: relative;
    padding-left: 2rem; /* Increased space for the checkmark */
  }
  .about-us ul li::before {
    content: '✔';
    color: #27ae60;
    position: relative;
    font-size: 1.5rem; /* Adjust the size of the checkmark */
  }
  .about-us button {
    background-color: #ffcc0000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
    border: #27ae60 2px solid;
    transition: all 0.3s ease;
  }
  .about-us button:hover {
    background-color: #27ae60;
    box-shadow: 0 0 10px rgba(39, 174, 96, 0.7); 

  }
  /* Scoll fix */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto; /* Ensures vertical scrolling is enabled */
  }
  
  .container {
    min-height: 100vh; /* Ensures the container takes up full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }