* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #E7DCDC;
    background-color: #121212;
}

ul {
    list-style: none;
}

img {
    width: 20vw;
    height: auto;
    object-fit: contain;
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    #home {
        width: 100%;
        padding: 1rem;
        border-radius: 0 0 16px 16px;
        box-shadow: none;
    }

    .title {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title h2 {
        font-size: 1rem;
    }
}