---
import { ordersTable } from '@/db/schema';
import AdminDashboardLayout from '@/layouts/AdminDashboardLayout.astro';
import db from '@/lib/db';
import { getUser } from '@/lib/user';
import { eq } from 'drizzle-orm';

const user = await getUser(Astro.request);

if (!user) {
  throw Astro.redirect('/login');
}

const orders = await db
  .select()
  .from(ordersTable)
  .where(eq(ordersTable.userId, user.getId()));
---

<AdminDashboardLayout
  title="Orders"
  breadcrumb={{
    '/orders': 'Manage Orders',
  }}
>
  <div class="content">
    <div class="head">
      <div class="welcome-message">
        <h1>Orders</h1>
        <p>Manage Orders</p>
      </div>
    </div>
    <div class="table-container">
      {
        orders.map((order) => (
          <div class="order">
            <h2>{order.id}</h2>
            <p>{order.status}</p>
            <p>{order.createdAt}</p>
          </div>
        ))
      }
    </div>
  </div>
</AdminDashboardLayout>
