---
import { actions } from 'astro:actions';
import { UsersTable } from '@/components/admin/Users/UsersTable';

import AdminDashboardLayout from '@/layouts/AdminDashboardLayout.astro';
import { getUser } from '@/lib/user';
import db from '@/lib/db';
import { eq } from 'drizzle-orm';
const user = await getUser(Astro.request);

if (!user || !user.isAdmin()) {
  return Astro.redirect('/dashboard');
}
// Fetch users
const { data, error } = await Astro.callAction(
  actions.admin.user.getUsers,
  {
    limit: 10,
    offset: 0,
  } 
);

if (error) {
  console.error(error);
}

const users = data?.data || [];
const totalUsers = data?.total || 0;
---

<AdminDashboardLayout
  title="Manage Users"
  breadcrumb={{
    '/users': 'Manage Users',
  }}
>
  <div class="space-y-6 p-6">
    <UsersTable
      client:load
      initialUsers={users}
      totalUsers={totalUsers}
    />
  </div>
</AdminDashboardLayout>
