---
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';
import '../styles/products.css';
import { CircleX, Home, ReceiptText } from 'lucide-react';
---
<Layout title="Order Canceled" navbar={false}>
  <div class="container">
    <div class="cancel-message">
      <div class="icon-wrapper">
        <CircleX color="red" size={64} />
      </div>
      <h1>Sorry, looks like <br> something went wrong!</h1>
      <p>Your order has been canceled. If this was a mistake, you can try again or contact support for assistance.</p>
        <p>If you have any questions, feel free to contact our support team.</p>
        <div class="button">
            <button><a href="/"><div class="button-icon"><Home/>Go to Home</div></a></button>
            <button><a href="/contact"><div class="button-icon"><ReceiptText /> Support</div></a></button>
        </div>
    </div>
  </div>
</Layout>

<style>
  html, body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: auto;
  }

  .cancel-message {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 1em;
  }
  .button-icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  h1 {
    color: red;
    margin-bottom: 15px;
    font-size: 2em;
  }

  p {
    font-size: 1.1em;
    color: #333;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  button {
    padding: 0.75rem 1.5rem;
    background-color: #fe0606;
    color: #f8f9fa;
    border: solid 2px red;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: block;
  } 
  button:hover {
    transform: scale(1.05);
  }
</style>
