---
import { actions } from 'astro:actions';
import { eq } from 'drizzle-orm';
import { ShoppingBag } from 'lucide-react';
import FullPageCart from '@/components/cart/FullPageCart';
import { Button } from '@/components/ui/button';
import { cartTable, productsTable } from '@/db/schema';
import Layout from '@/layouts/Layout.astro';
import db from '@/lib/db';
// Cart.astro
import { getUser } from '@/lib/user';

const user = await getUser(Astro.request);
if (!user) return Astro.redirect('/login');

const cart = await db
	.select()
	.from(cartTable)
	.where(eq(cartTable.userId, user.getId()))
	.innerJoin(productsTable, eq(cartTable.productId, productsTable.id));
---

<Layout title="Your Cart" navbar={true} cart={false}>
  <main class="max-w-4xl mx-auto px-4 py-10 mt-25">
    <h1 class="text-3xl font-bold mb-8 text-center">Your Cart</h1>

    {
      cart.length === 0 ? (
        <p class="text-center text-gray-500">Your cart is empty.</p>
        <div class="continue-shopping">
          <Button variant="outline" class="w-full" href="/products">
            <ShoppingBag />
            <span class="ml-2"> Continue Shopping</span>
          </Button>
        </div>
      ) : (
        <div class="space-y-6">
          <FullPageCart newCart={cart} client:load />
        </div>
      )
    }
  </main>
</Layout>

<style>
  .continue-shopping {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

  }
</style>
