---
import '@styles/login.css';
---
<head>
	<title>Forgot Password | CMK</title>
	<link rel="shortcut icon" href="../public/favicon.svg" type="image/x-icon">
</head>

<div class="container">
	<h1>Reset Your Password</h1>
	<p id="Message"></p>
	<form id="reset-form">
		<label for="reset-email" style="text-align: left;">Enter your email</label>
		<br>
		<input
			type="email"
			id="reset-email"
			placeholder="Enter your email"
			required
		>
		<br>
		<button type="submit">Send Reset Link</button>
	</form>
	<p>
		<a href="login.html">Back to Login</a>
	</p>
</div>
