---
import ProductCard from '../components/ProductCard.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/index.css';
import { products as productsActions } from '../actions/products';

const bestProductsActions = await Astro.callAction(
	productsActions.getBestProducts,
	{},
);
const bestProducts = bestProductsActions.data;
---

<Layout title="Home" navbar={true}>
  <main>
    <div id="home">
      <div class="title">
        <h1>Welcome to CMK</h1>
        <h2>Customize your own mouse and keyboard with CMK</h2>
      </div>
      <a href="#products" class="scroll-to-products">
        <div class="middle">
          <div class="mouse"></div>
          <div class="scroll" style="margin-top: 50%">Scroll</div>
        </div>
      </a>
    </div>
  </main>

  <div id="products">
    <div class="title">
      <h1>Our Products</h1>
    </div>
    <div class="products-grid">
      {
        bestProducts &&
          bestProducts.map((product) => (
            <ProductCard product={product} server:defer />
          ))
      }
    </div>
    <button class="view-all-button">
      <a href="/products">View All Products</a>
    </button>
  </div>
</Layout>

<script>
  document
    .querySelector('.scroll-to-products')!
    .addEventListener('click', function (e) {
      e.preventDefault();
      document
        .querySelector('#products')!
        .scrollIntoView({ behavior: 'smooth' });
    });
</script>
<style>
  html,
  body {
    height: 100%;
    margin: 0;
    overflow-y: auto; /* Ensures vertical scrolling is enabled */
  }

  .container {
    min-height: 100vh; /* Ensures the container takes up full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
</style>
