---
import '@styles/login.css';
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import { SignIn } from 'auth-astro/components';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);
if (session) {
	return Astro.redirect('/dashboard');
}
---

<Layout title="Login" navbar={false}>
  <div class="container">
    <h1>Welcome Back</h1>
    <div>
      <SignIn provider="github">
        <Image
          src={'/api/image/github.svg'}
          alt="Github"
          width={128}
          height={128}
          class="icon"
        />
        Login with Github
      </SignIn>
      <SignIn provider="discord">
        <Image
          src={'/api/image/discord.svg'}
          alt={'Discord'}
          width={64}
          height={64}
          class="icon"
        />
        Login with Discord
      </SignIn>
    </div>
    <div class="login-with-email">
      <form>
        <h2>or</h2>
        <h2>Use your email</h2>
        <input type="text" name="email" placeholder="Email" />
        <button type="submit">Sign in with Email</button>
      </form>
    </div>
    <p> <a href="/"> Back to Home</a></p>
  </div>
</Layout>
