---
import "@styles/login.css";
import { SignIn, SignOut, Auth, signIn, signOut } from "auth-astro/components";
import type { Session } from "@auth/core/types";
import Discord from "@assets/discord.svg";
import Github from "@assets/githubicon.svg";
import { Image } from "astro:assets";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../public/favicon.svg" type="image/x-icon" />
  <title>Sign in | CMK</title>
</head>

<div class="container">
  <h1>Welcome Back</h1>
  <Auth>
    {
      (session: Session) =>
        session ? (
          <>
            <SignOut>Logout</SignOut>
            <p>Logged in as {session.user?.name}</p>
          </>
        ) : (
          <>
            <div>
              <SignIn provider="github">
                {" "}
                <Image
                  src={Github}
                  alt={"Github"}
                  width={64}
                  height={64}
                  class="icon"
                />
                Login with Github
              </SignIn>
              <SignIn provider="discord">
                <Image
                  src={Discord}
                  alt={"Discord"}
                  width={64}
                  height={64}
                  class="icon"
                />
                Login with Discord
              </SignIn>
            </div>
            <div class="login-with-email">
              <form>
                <h2>or</h2>
                <h2>Use your email</h2>
                <input type="text" name="email" placeholder="Email" />
                <button type="submit">Signin with Email</button>
              </form>
            </div>
          </>
        )
    }
  </Auth>
</div>

<script type="module">
  import { signIn } from "auth-astro/components";
  document.querySelector("#login").onclick = () => signIn("github");
</script>
