---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';
import '../styles/index.css';
import '../styles/products.css';
import { products as productsActions } from '../actions/products';

const bestProductsActions = await Astro.callAction(
  productsActions.getBestProducts,
  {}
);
const bestProducts = bestProductsActions.data;
---

<Layout title="Products" navbar={true}>
  <div id="products">
    <div
      class="title"
      style="margin-top: 5em; @media  screen and (max-width: 400px) { margin-top: 1em }"
    >
      <h1>Our Products</h1>
    </div>
    <div class="products-grid">
      {
        bestProducts && bestProducts.length > 0 ? (
          bestProducts.map((product) => <ProductCard product={product} />)
        ) : (
          <p>No products found</p>
        )
      }
    </div>
  </div>
</Layout>
<style>
  html,
  body {
    height: 100%;
    margin: 0;
    overflow-y: auto; /* Ensures vertical scrolling is enabled */
  }

  .container {
    min-height: 100vh; /* Ensures the container takes up full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
</style>
