---
import Cart from '@/components/cart/Cart.astro';
import CartItemCount from '@/components/cart/CartItemCount.tsx';
import { getUser } from '@/lib/user';
import { HeaderMenu } from '@components/Header.tsx';
import { CircuitBoard, ShoppingBag } from 'lucide-react';
import { HeaderUserMenu } from './HeaderUserMenu';
import { ModeToggle } from './ModeToggle';
import { Button } from './ui/button';

interface Props {
  cart?: boolean;
}

const { cart } = Astro.props;

const user = await getUser(Astro.request);
---

<header>
  <div class="logo">
    <CircuitBoard />
    <a href="/">CMK</a>
  </div>
  <div class="HeaderMenu">
    <HeaderMenu client:load />
  </div>
  <!-- Auth Buttons or Profile Section -->

  {
    user ? (
      <div id="auth-buttons" class="login">
        <div class="flex items-center gap-4">
          <HeaderUserMenu
            userData={{
              id: user.getId(),
              name: user.getDisplayName(),
              email: user.getEmail(),
              image: user.getImage(),
              role: user.getRole(),
            }}
            client:load
          />
          {cart ? (
            <Cart
              classes="font-bold py-2 px-4 rounded flex items-center gap-2"
              variant="outline"
              server:defer
            >
              <ShoppingBag /> <CartItemCount client:load />
            </Cart>
          ) : null}
          <ModeToggle client:load />
        </div>
      </div>
    ) : (
      <div
        id="auth-buttons"
        class="login"
        style="display: flex; align-items: center; gap: 1rem;"
      >
        <a href="/login">
          <Button variant="outline">Login</Button>
        </a>

        {cart ? (
          <Cart
            classes="font-bold py-2 px-4 rounded flex items-center gap-2"
            variant="outline"
            server:defer
          >
            <ShoppingBag /> <CartItemCount client:load />
          </Cart>
        ) : null}
        <ModeToggle client:load />
      </div>
    )
  }

  <button id="menu-toggle" style="z-index: 991">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      stroke="#E7DCDC"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="4" y1="12" x2="20" y2="12"></line>
      <line x1="4" y1="6" x2="20" y2="6"></line>
      <line x1="4" y1="18" x2="20" y2="18"></line>
    </svg>
  </button>
  <nav class="overlay-nav">
    <button class="close-menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        fill="none"
        stroke="#E7DCDC"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    <div class="toggle">
      <ModeToggle client:load />
      <Cart
        classes="font-bold py-2 px-4 rounded flex items-center gap-2 cart"
        variant="outline"
        server:defer
      >
        <ShoppingBag />
        <CartItemCount client:load />
      </Cart>
    </div>

    <ul>
      <li><a href="/" data-astro-prefetch>Home</a></li>
      <li><a href="/products" data-astro-prefetch>Products</a></li>
      <li><a href="/models"> Models</a></li>
      <li><a href="/3dprint"> 3D Print Service</a></li>
      <li><a href="/tech"> Tech</a></li>
      <li><a href="/iot"> IoT</a></li>
      <li><a href="/about" data-astro-prefetch>About Us</a></li>
      <li><a href="/contact" data-astro-prefetch>Contact Us</a></li>
      {
        user ? (
          <HeaderUserMenu
            userData={{
              id: user.getId(),
              name: user.getDisplayName(),
              email: user.getEmail(),
              image: user.getImage(),
              role: user.getRole(),
            }}
            client:load
          />
        ) : (
          <li>
            <a href="/login">Login</a>
          </li>
        )
      }
    </ul>
  </nav>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const overlayNav = document.querySelector('.overlay-nav');
    const menuToggle = document.getElementById('menu-toggle');
    const closeMenu = document.querySelector('.close-menu');

    if (!overlayNav || !menuToggle || !closeMenu) {
      console.warn('One or more navigation elements not found');
      return;
    }

    menuToggle.addEventListener('click', () => {
      overlayNav.classList.toggle('active');
    });

    closeMenu.addEventListener('click', () => {
      overlayNav.classList.remove('active');
    });
  });
</script>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--color-background);
    color: var(--color-foreground);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 100;
    box-shadow: 0 2px 10px var(--color-border);
  }
  header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  header .logo svg {
    width: 50px;
    height: 50px;
  }

  header a {
    text-decoration: none;
    color: var(--color-foreground);
    font-size: 16px;
  }

  nav ul {
    /* center the list items in the middle of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    font:
      1.4rem 'grandstander',
      sans-serif;
    color: var(--color-foreground);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav ul li a:hover {
    color: #27ae60;
    text-decoration: underline;
  }

  #menu-toggle {
    position: absolute;
    right: 1rem;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 2rem;
    z-index: 991;
  }

  .toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 1rem;
    right: 4rem;
  }
  .close-menu {
    position: absolute;
    top: 1.2rem;
    right: 0rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #e7dcdc;
  }
  .cart {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
  }
  .button:hover {
    background-color: var(--color-foreground);
    color: var(--color-background);
    border: solid 2px var(--color-foreground);
  }
  .button {
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .overlay-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-background);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .overlay-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .overlay-nav ul li a {
    font-size: 2rem;
    color: var(--color-foreground);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .overlay-nav ul li a:hover {
    color: #27ae60;
  }

  .overlay-nav.active {
    display: flex;
    animation: fadeIn 0.3s ease;
  }
  .profile-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .profile-section img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
  #profile-section-nav img {
    /* center image in the middle of the li */
    margin: 0 auto;
    display: block;
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
  .profile-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row; /* Move the username to the right of the profile picture */
  }
  #profile-section-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column; /* Move the username to the right of the profile picture */
  }
  .profile-section a {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row; /* Move the username to the right of the profile picture */
  }
  @media (max-width: 980px) {
    #menu-toggle {
      display: block;
    }

    .HeaderMenu {
      display: none;
    }

    .overlay-nav ul li a {
      font-size: 1.5rem;
    }

    #auth-buttons {
      display: none !important;
    }
    #profile-section {
      display: none;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
