---
import { Image } from 'astro:assets';
import '@/styles/product-card.css';
import type { Product } from 'astro:db';

interface Props {
  product: typeof Product.$inferSelect;
}

const { product } = Astro.props;
---

<div class="product">
  <div class="product-image">
    <Image
      src={'/api/image/' + product.image + '.png'}
      alt={product.name}
      width={200}
      height={200}
    />
  </div>
  <div class="product-info">
    <h3>{product.name}</h3>
    <p>{product.description}</p>
    <div class="product-price">${product.price.toFixed(2)}</div>
    <a href={'/product/' + product.id} class="button">
      <button class="product-link-button">View Details</button>
    </a>
  </div>
</div>
