---
import { and, eq } from 'drizzle-orm';
import { type productsTable, reviewsTable } from '@/db/schema';
import db from '@/lib/db';
import { getUser } from '@/lib/user';
import EditReview from './EditReview';

interface Props {
  product: typeof productsTable.$inferSelect;
}

const { product } = Astro.props;
const productId = product.id;

const user = await getUser(Astro.request);

let userReview: typeof reviewsTable.$inferSelect | null = null;
if (user) {
  const userReviewTx = await db
    .select()
    .from(reviewsTable)
    .where(
      and(
        eq(reviewsTable.userId, user.getId()),
        eq(reviewsTable.productId, productId),
      ),
    );
  if (userReviewTx[0]) {
    userReview = userReviewTx[0];
  }
}
---

<div>
  <h3>Customer Reviews</h3>
  <h4>Add a Review</h4>
  {
    userReview ? (
      <div class="user-review">
        <h3>Your Review</h3>
        <p>Rating: {userReview.rating}★</p>
        <EditReview />
      </div>
    ) : (
      <form id="review-form">
        <input
          type="number"
          id="review-rating"
          min="1"
          max="5"
          placeholder="0"
          required
        />
        <button type="submit" class="button">
          Submit Review
        </button>
      </form>
    )
  }
</div>
