---
import Layout from './Layout.astro';
import '@/styles/global.css';
import { AdminSidebar } from '@/components/AdminSidebar';
import { getUser } from '@/lib/user';
interface Props {
  title: string;
  activeId: string;
}

const { title } = Astro.props;
const user = await getUser(Astro.request);

if (!user) {
  return Astro.redirect('/login');
}
---

<Layout title={title} navbar={false}>
  <AdminSidebar user={user}>
    <div class="content">
      <h1>Admin Dashboard</h1>
    </div>
  </AdminSidebar>
</Layout>
