---
import Layout from './Layout.astro';
import '@/styles/global.css';
import { AdminSidebar } from '@/components/AdminSidebar';
import { getUser } from '@/lib/user';
interface Props {
  title: string;
  activeId: string;
}

const { title } = Astro.props;
const user = await getUser(Astro.request);

if (!user || !user.isAdmin()) {
  return Astro.redirect('/login');
}
---

<Layout title={title} navbar={false}>
  <AdminSidebar user={user} client:only="react">
    <div class="content">
      <h1>Admin Dashboard</h1>
    </div>
  </AdminSidebar>
</Layout>

<!-- <style>
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  html,
  body {
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #0f0f0f;
    color: #e7dcdc;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style> -->
